<h1>Stringr & Regex</h1>
<h3>By: Aaron Stearns</h3>

The following three exercises use the <strong>stringr</strong> library along with regular expressions to detect 
and extract text data.
<br>
After studying the given examples, try to complete the exercises yourself. If you get stuck, an answer key is provided at the bottom of the page.

RStudio provides an excellent regex cheat sheet: 
<br>
<a>https://www.rstudio.com/resources/cheatsheets/#stringr</a>

Some additional references are: 
<br>
R For Data Science (Strings chapter): <a>https://r4ds.had.co.nz/strings.html</a>
<br>
Handling Strings with R: <a>http://www.gastonsanchez.com/r4strings/</a>
<br>
Tidy Text Mining: <a>https://www.tidytextmining.com/</a>

<h4>To start, we'll clean some very messy text from an 'employee' data set.</h4>

In [5]:
library(stringr)

employeeId <- 1:3
homeOffice <- c("Dallas, TX (USA)", "Albuquerque, NM (USA)", "Toronto, ON (CAN)")
hireDate <- c("5 January 2018", "2 February 2019", "27 March 2018")
nameAndTitle <- c("Joe Smith (Accountant - Accounting)", "Jane Doe (VP - Sales)", "Billy Bob (Manager - HR)")

data <- data.frame(employeeId, homeOffice, nameAndTitle, hireDate, stringsAsFactors = F)

data

  employeeId homeOffice            nameAndTitle
1 1          Dallas, TX (USA)      Joe Smith (Accountant - Accounting)
2 2          Albuquerque, NM (USA) Jane Doe (VP - Sales)
3 3          Toronto, ON (CAN)     Billy Bob (Manager - HR)
  hireDate
1 5 January 2018
2 2 February 2019
3 27 March 2018

<h4>All of the R regular expressions in the cell below produce the same output. 
They extract the word characters at the beginning of the string 
and up until the comma (the city) from the 'homeOffice' column:</h4>

In [6]:
# Search for word characters at the beginning of the string:
str_extract(data$homeOffice, "\\w+")
str_extract(data$homeOffice, "^\\w+")
str_extract(data$homeOffice, "^\\w+(?=,)")

# Using the 'wildcard' match:
str_extract(data$homeOffice, "^.+(?=,)")

# Using ranges of upper and lower-case letters:
str_extract(data$homeOffice, "[a-zA-Z]+")
str_extract(data$homeOffice, "^[a-zA-Z]+")

# Specifying the position of upper and lower-case letters:
str_extract(data$homeOffice, "^[:upper:]{1}[:lower:]+")
str_extract(data$homeOffice, "^[:upper:]{1}[:lower:]+(?=\\,)")

[1] "Dallas"      "Albuquerque" "Toronto"

[1] "Dallas"      "Albuquerque" "Toronto"

[1] "Dallas"      "Albuquerque" "Toronto"

[1] "Dallas"      "Albuquerque" "Toronto"

[1] "Dallas"      "Albuquerque" "Toronto"

[1] "Dallas"      "Albuquerque" "Toronto"

[1] "Dallas"      "Albuquerque" "Toronto"

[1] "Dallas"      "Albuquerque" "Toronto"

In [13]:
# Different ways to extract the employee's home 
# state from the 'homeOffice' column using lookarounds:
str_extract(data$homeOffice, "(?<=\\,\\s{1})\\w{2}")
str_extract(data$homeOffice, "(?<=\\,\\s{1})\\w+(?=\\s{1}\\()")

[1] "TX" "NM" "ON"

[1] "TX" "NM" "ON"

  employeeId homeOffice            nameAndTitle
1 1          San Antoniö, TX (USA) Joe Smith (Accountant - Accounting)
2 2          Âlbuquerque, NM (USA) Jane Doe (VP - Sales)
3 3          Toronto, ON (CAN)     Billy Bob (Manager - HR)
  hireDate
1 5 January 2018
2 2 February 2019
3 27 March 2018

<h4>In the examples below, we'll use the str_extract() function
from the 'stringr' package to extract all values</h4>

In [27]:
hireDay <- str_extract(data$hireDate, "^\\d{1,2}")
hireDay

[1] "5"  "2"  "27"

<h4>Try to extract the hireMonth and hireYear from the hireDate column:</h4>

In [ ]:
# Hint: to extract the month, try using "[:alpha:]" or a combination 
# of "[:upper:]" and "[:lower:]" for the word characters
hireMonth <- str_extract(data$hireDate, "")
hireMonth

In [ ]:
# Hint: Think about the position of the four digit year in the string
hireYear <- str_extract(data$hireDate, "")
hireYear

<h4>Now we'll tackle the 'nameAndTitle' column.</h4>

In [ ]:
# Extract the word characters at the beginning of the string
firstName <- str_extract(data$nameAndTitle, "")
firstName

In [ ]:
# Hint: think about the unique position of the last name in the string
lastName <- str_extract(data$nameAndTitle, "")
lastName

<h4>In order to extract the job title and department, first let's extract 
everything inside of the parentheses of the nameAndTitle column</h4>

In [25]:
positionAndDepartment <- str_extract(data$nameAndTitle, "\\(.+\\)")
positionAndDepartment

[1] "(Accountant - Accounting)" "(VP - Sales)"
[3] "(Manager - HR)"

In [ ]:
# For the job title, extract all word characters after the "(" and before the space
jobTitle <- str_extract(positionAndDepartment, "")
jobTitle

In [ ]:
# To extract the department, extract all word characters after the "-" and before the ")"
department <- str_extract(positionAndDepartment, "")
department

In [ ]:
# Now, extract 'city' from the 'homeOffice' column
city <- str_extract(data$homeOffice, "")
city

In [ ]:
# Extract the two-character state abbbreviation after the comma/space and before the comma/open parenthesis
stateOrProvince <- str_extract(data$homeOffice, "")
stateOrProvince

In [ ]:
# Extract the three upper-case letters between the parentheses
country <- str_extract(data$homeOffice, "")
country

In [ ]:
# Combine all extracted string vectors into new data frame:
cleanedData <- data.frame(employeeId,
                          hireDay, 
                          hireMonth, 
                          hireYear, 
                          firstName, 
                          lastName, 
                          jobTitle, 
                          department, 
                          city, 
                          stateOrProvince, 
                          country)
cleanedData

<h2>New challenge: identify files in a folder</h2>

In [26]:
# Imagine that this variable, 'files' is a list of all files in a folder
files <- c("image.jpg", "image.png", "report.csv", "report3.csv", "report5.csv", "report21.csv", "report23.csv")
files[1]

[1] "image.jpg"

In [ ]:
# Find all .csv files in the folder:
str_which(files, "")

In [ ]:
# Find all .csv files in folder containing "report" in the name (ex: report.csv, report2.csv)
str_which(files, "")

In [ ]:
# Find all .txt files in folder containing "report" with the report 
# number between 21 and 24 (ex: report21.csv, report23.csv)
str_which(files, "")

<h2>New challenge: extract multiple values from a string</h2>

Now, we will take a look at a subset of some data from the Kaggle TMDB competition (https://www.kaggle.com/c/tmdb-box-office-prediction)
<br>
The data is in an invalid JSON format (it uses single quotes instead of double quotes), and so the challenge is to extract the values from each key-value pair.

In [6]:
movieId <- 1:3
badJSON <- c("[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]", "[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]", "[{'id': 35, 'name': 'Comedy'}]")

df <- data.frame(movieId, badJSON)
df

  movieId
1 1
2 2
3 3
  badJSON
1 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]
2 [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]
3 [{'id': 35, 'name': 'Comedy'}]

In [14]:
# Use a combination of lookarounds and word character matching to 
# extract the genre id values. The str_extract_all() function from stringr
# will extract every match in the string. 
genreIds <- data.frame(str_extract_all(df$badJSON, "", simplify = T))
genreIds

  X1 X2 X3 X4
1 35 18 10 10
2 53 18
3 35

In [16]:
# Do the same as above, but this time with the genre names.
genreNames <- data.frame(str_extract_all(df$badJSON, "", simplify = T))
genreNames

  X1       X2    X3     X4
1 Comedy   Drama Family Romance
2 Thriller Drama
3 Comedy

In [ ]:
# Answer key:
hireMonth <- str_extract(data$hireDate, "[:alpha:]+")

hireYear <- str_extract(data$hireDate, "\\d{4}$")

firstName <- str_extract(data$nameAndTitle, "^\\w+")

lastName <- str_extract(data$nameAndTitle, "\\s{1}\\w+\\s{1}")

positionAndDepartment <- str_extract(data$nameAndTitle, "\\(.+\\)")

jobTitle <- str_extract(positionAndDepartment, "(?<=\\()\\w+(?=\\s{1})")

department <- str_extract(positionAndDepartment, "(?<=\\-\\s{1})\\w+(?=\\))")

city <- str_extract(data$homeOffice, "^\\w+")

stateOrProvince <- str_extract(data$homeOffice, "(?<=,\\s{1})\\w+(?=\\s{1}\\()")

country <- str_extract(data$homeOffice, "(?<=\\()\\w{3}(?=\\))")

####################################################
# Finding files:
####################################################

# Find all .csv files in the folder:
str_which(files, "\\.csv")

# Find all .csv files in folder containing "report" in the name (ex: report.csv, report2.csv)
str_which(files, "report\\d{0,2}\\.csv")

# find all .txt files in folder containing "report" with the report number 
# between 21 and 24 (ex: report21.csv, report23.csv)
str_which(files, "report2[1234]\\.csv")
str_which(files, "report2[1-4]\\.csv")

####################################################
# Unpacking bad JSON:
####################################################

genreIds <- data.frame(str_extract_all(df$badJSON, "(?<=id\\'\\:\\s{1})\\d{2}", simplify = T))

genreNames <- data.frame(str_extract_all(df$badJSON, "(?<=name\\'\\:\\s{1}\\')\\w+(?=\\'\\})", simplify = T))